<a href="https://colab.research.google.com/github/Emenike-Amara/Projects/blob/main/Customers_Purchase_Inisghts_Unlocking_Targeted_Marketing_Opportunities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ℹ Promblem Statement
This project is geared towards understanding the customers and leveraging actionable insights to expand and promote growth in market opportunities.

# ℹ Background Statement

# ▶ Load DataSet for exploration 

Installing the Powerbiclient Python package, this package allows the embedding of a PowerBI report in GC easily.

In [ ]:
pip install powerbiclient

In [8]:
#Load the necessary Libraries
from powerbiclient import Report, models
from powerbiclient.authentication import DeviceCodeLoginAuthentication
import pandas as pd
from google.colab import drive
from google.colab import output
from urllib import request 
import requests

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
path='/content/drive/My Drive/supermarket_sales.xlsx'
data = pd.read_excel(path)

In [11]:
data.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total Purchase,...,Day,Year,Date,Week,Time,Paymenttype,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,522.83,...,5,2019,5/1/2019,1,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,76.40,...,8,2019,8/3/2019,10,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,324.31,...,3,2019,3/3/2019,9,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,465.76,...,27,2019,27/1/2019,4,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,604.17,...,8,2019,8/2/2019,6,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [14]:
data.describe()

,Unit price,Quantity,Tax 5%,Total Purchase,Total Cost,Total,Month,Day,Year,Week,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,999.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,307.276276,322.348369,322.967430,1.993000,15.256000,2019.0,6.996000,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,234.086958,245.841398,245.885557,0.835254,8.693563,0.0,3.596515,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.170000,10.678500,10.680000,1.000000,1.000000,2019.0,1.000000,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,117.895000,122.511375,124.425000,1.000000,8.000000,2019.0,4.000000,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,241.600000,253.596000,253.850000,2.000000,15.000000,2019.0,7.000000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,448.580000,470.998500,471.350000,3.000000,23.000000,2019.0,10.000000,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,993.000000,1042.650000,1042.650000,3.000000,31.000000,2019.0,13.000000,993.00000,4.761905,49.650000,10.00000

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total Purchase           999 non-null    float64
 10  Total Cost               1000 non-null   float64
 11  Total                    1000 non-null   float64
 12  Month                    1000 non-null   int64
 13  Day                      1000 non-null   int64
 14  Year                     1000 non-null   int64
 15  Date                     1000 non-null   object
 16  Week                     1000 non-null   int64
 17  Time                     1000 non-null   object
 18  Paymenttype              1000 non-null   object
 19  cogs                     1000 non-null   float64
 20  gross margin percentage  1000 non-null   float64
 21  gross income             1000 non-null   float64
 22  Rating                   1000 non-null   float64
dtypes: float64(9), int64(5), object(9)
memory usage: 179.8+ KB

# ▶ Introducing the already designed PowerBi report in here

In [23]:
#Import the DeviceCodeLoginAuthentication class to authenticate against PowerBI and initiate the Micrcosoft device authentication

device_auth = DeviceCodeLoginAuthentication()

group_id = "090a00bd-5bdb-4739-97ba-d8f0e222460d"
report_id = "b7c96304-697e-49d5-a13f-ed654bf100e6"

report = Report(group_id= group_id, report_id= report_id, auth= device_auth)

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code RUEYH2258 to authenticate.

Device flow authentication successfully completed.
You are now logged in.

In [25]:
report.set_size (800,1000)

output.enable_custom_widget_manager()

In [26]:
report

Report(container_height=800.0, container_width=1000.0)